<section class="mx-auto w-full px-10 py-20 bg-gray-800">
  <h1 class="text-5xl text-center uppercase text-white">Mi experiencia</h1>

  <div class="flex flex-col space-y-3 items-center justify-center mt-10 py-10 max-w-3xl mx-auto">
    <h2 class="font-bold text-white text-4xl">O1</h2>
    <h2 class="font-semibold text-white text-2xl">Bachillerato - Modalidad tecnológica</h2>


    <span class="text-white">
      Cursé Bachillerato desde Septiembre de 2016 hasta Junio de 2018. Desde 4º de la ESO sabía que quería estudiar
      Ingeniería Informática, así que opté por hacer la modalidad tecnológica, aunque realmente ninguna se ajustaba
      a lo que quería estudiar.
    </span>

    <span class="text-white">
      Obtuve el diploma de reconocimiento por calificación de sobresaliente en bachiller, siendo una de las 10 mejores notas de la promoción.
    </span>
  </div>

  <div class="flex flex-col space-y-3 items-center justify-center py-10 max-w-3xl mx-auto">
    <h2 class="font-bold text-white text-4xl">O2</h2>
    <h2 class="font-semibold text-white text-2xl">Universidad - Ingeniería Informática</h2>

    <span class="text-white">
      Empecé el grado de Ingeniería Informática en septiembre de 2018, con bajas expectativas por las advertencias de la gente asegurando
      que era muy difícil. Me gradué en junio de 2022 con un expediente de 8,5, siendo el mejor expediente de la promoción.
    </span>
  </div>

  <div class="flex flex-col space-y-3 items-center justify-center py-10 max-w-3xl mx-auto">
    <h2 class="font-semibold text-white text-xl">Beca Apadrina Talento</h2>

    <span class="text-white">
      Tras terminar el primer año, surgen unas becas para los veranos hasta 3º de carrera, lo que sumaba un total
      de 6 meses de beca (2 meses por verano). Dado mi interés por adquirir experiencia laboral, decidí presentarme a
      una de las dos empresas que se ofertaban aquel año, Seyte. 
    </span>
  </div>

  <div class="flex flex-col space-y-3 items-center justify-center py-10 max-w-3xl mx-auto">
    <h2 class="font-semibold text-white text-xl">Beca DUAL</h2>

    <span class="text-white">
      En 4º de carrera empecé la Beca DUAL, que era la segunda parte de la Beca Apadrina Talento. Consistía en 6 meses 
      de contrato de prácticas a partir del mes de enero de 2022. Esta vez tuve que compaginar las prácticas con una 
      asignatura del grado.
    </span>
  </div>

  <div class="flex flex-col space-y-3 items-center justify-center py-10 max-w-3xl mx-auto">
    <h2 class="font-semibold text-white text-xl">Premio mejores TFG</h2>

    <span class="text-white">
      Tras la defensa de mi Trabajo Fin de Grado (TFG), obtuve el premio que otorgaron a los 5 mejores TFG de la promoción.
    </span>

    <span class="text-white">
      Mi TFG consistía en una página web implementada con Angular, Laravel y Sprint Boot, y que hacía uso de Firebase, Docker, GitLab CI/CD y 
      Amazon Web Services. Además, implementé una serie de algoritmos de Machine Learning para la recomendación de canciones que leía de la API de 
      Spotify a los usuarios. Aunque pude haber hecho uso de Python (por ejemplo) y de librerías como Scikit-Learn, decidí hacerlo todo desde cero
      para poder aprender cómo funcionan estos algoritmos.
    </span>

  </div>

  <div class="flex flex-col space-y-3 items-center justify-center py-10 max-w-3xl mx-auto">
    <h2 class="font-semibold text-white text-xl">Premio mejor expediente</h2>

    <span class="text-white">
      Finalmente, mi último logro en la Universidad hasta ahora, ha sido el premio al mejor expediente de mi promoción
      en el Grado de Ingniería Informática, o, como ellos le llaman: Premio Extraordinario Fin de Estudios en Grado Ingeniería Informática
    </span>
  </div>

  <div class="flex flex-col space-y-3 items-center justify-center py-10 max-w-3xl mx-auto">
    <h2 class="font-bold text-white text-4xl">O3</h2>
    <h2 class="font-semibold text-white text-2xl">Desarrolladora de Software en Seyte</h2>


    <span class="text-white">
      A partir de julio de 2022, cuando terminó la Beca DUAL, Seyte me contrató a jornada completa como desarrolladora del sofware.
    </span>
  </div>

</section>


