<section class="mx-auto w-full px-10 py-20">
  <h1 class="text-5xl text-center uppercase">Sobre mí</h1>


  <div class="mx-auto flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-8 max-w-5xl py-10">

    <div class="flex flex-col space-y-5 w-full justify-center">
      <span class="font-bold text-3xl text-center">Marta Fernández García.</span>

      <span>
        ¡Hola! Soy Marta. Soy una desarrolladora de software centrada sobre todo en el mundo web,
        aunque me gusta explorar nuevos retos.
      </span>
  
      <span>
        Me encanta aprender cosas nuevas y me considero una persona muy curiosa. Me gusta
        investigar y aprender sobre nuevas tecnologías y herramientas.
      </span>
  
      <span>
        Actualmente tengo 1 año y 9 meses de experiencia en desarrollo web. Paralelamente estoy formándome en Inteligencia Artificial.
      </span>
    </div>
  </div>
</section>


<app-work-experience></app-work-experience>
