<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">About me</h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
      </div>
      <p class="font-light text-gray-500 lg:mb-16 sm:text-lg ">Hello there! 👋️ Let me explain you who I am and which are
        my hobbies and how you can contact me!</p>
    </div>


    <div class="flex items-center justify-center px-5 py-5">
      <div class="w-full mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
        <div class="w-full pt-1 pb-5">
          <div class="overflow-hidden rounded-full w-20 h-20 -mt-16 mx-auto shadow-lg">
            <img
              src="https://media-exp1.licdn.com/dms/image/C5603AQH6hR3_4t44Iw/profile-displayphoto-shrink_800_800/0/1565808100822?e=1668038400&v=beta&t=NoPd3D9ug3CNY2j9lWBVLXnW9i5TSJPGZcQ1sQS1h9c"
              alt="">
          </div>
        </div>
        <div class="w-full mb-10">
          <div class="text-3xl text-cyan-500 text-left leading-tight h-3">“</div>

          <p class="mt-3 mb-4 font-light text-gray-500">I am Marta Fernández, a spanish 22 years old Software Engineer.</p>

          <p class="mt-3 mb-4 font-light text-gray-500">Although the field in which I have more experience is in Web
            Software Development, I am currently exploring new areas such as Machine Learning, Data Science and Data
            Analytics.</p>
          <p class="mt-3 mb-4 font-light text-gray-500">I am passionate about learning and facing new challenges. When I
            have something on my mind, I just do it!</p>
          <div class="text-3xl text-cyan-500 text-right leading-tight h-3 -mt-3">”</div>
        </div>
        <div class="w-full">
          <p class="text-md text-cyan-500 font-bold text-center">Marta Fernández</p>
          <p class="text-xs text-gray-500 text-center">Software Engineer.</p>
        </div>
      </div>
    </div>
  </div>
</section>

