<body class="leading-normal tracking-normal text-white">

<!--Hero-->
<div class="pt-36 wow fadeInDown" id="home">
  <div class="container px-3 mx-auto flex flex-wrap items-center">
    <!--Left Col-->
    <div class="m-auto py-5 w-full text-left">
      <!--      <p class="uppercase tracking-loose w-full">Hello!</p>-->
      <h1 class="my-4 text-5xl md:text-7xl font-bold leading-tight tracking-wide text-gray-900">im Marta Fernández, </h1>
      <h1 class="my-4 text-5xl md:text-7xl font-bold leading-tight tracking-wide text-gray-900">a <span class="primary__color">Software Engineer</span>
      </h1>
      <div class="leading-normal text-xl mb-8 text-gray-600 ">Hello, I am a Software Engineer with experience in
          Software Development
          <div class="mb-4">
            <div class="h-1 bg-cyan-500 w-56 opacity-50  rounded-t"></div>
          </div></div>


      <a href="#contact"
        class="mx-auto lg:mx-0 primary__bg text-white font-bold rounded-md my-4 py-4 px-8 shadow-md  hover:bg-cyan-700 hover:opacity-90">
        Contact
      </a>
    </div>
  </div>

</div>

<app-about-me id="about-me"></app-about-me>

<app-work-experience id="experience"></app-work-experience>

<app-habilities id="skills"></app-habilities>

<app-contact id="contact"></app-contact>


<!--Footer-->
<app-footer></app-footer>
</body>
