<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Skills</h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
      </div>
      <p class="font-light text-gray-500 lg:mb-16 sm:text-lg ">Do you want to know what I am up to?</p>
    </div>


    <div class="mx-auto grid md:grid-cols-3 lg:grid-cols-4 gap-4 grid-cols-1 py-5">
      <div class="mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 text-gray-800 p-10" style="max-width: 500px">
          <h2 class="text-2xl font-bold text-center text-gray-800  mb-5">Techonologies</h2>

        <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg">
          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-yellow-500 dark:text-white">Jenkins</span>
              <span class="text-sm font-medium text-yellow-500 dark:text-white">60%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5">
              <div class="bg-yellow-500 h-2.5 rounded-full" style="width: 60%"></div>
            </div>
          </li>

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-rose-400 dark:text-white">Git</span>
              <span class="text-sm font-medium text-rose-400 dark:text-white">90%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-rose-400 h-2.5 rounded-full" style="width: 90%"></div>
            </div>
          </li>

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-green-400 dark:text-white">Docker</span>
              <span class="text-sm font-medium text-green-400 dark:text-white">80%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-green-400 h-2.5 rounded-full" style="width: 80%"></div>
            </div>
          </li>

        </ul>
      </div>
      <div class="mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 text-gray-800 p-10" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">Languages</h2>

        <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg">

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-rose-400 dark:text-white">Php</span>
              <span class="text-sm font-medium text-rose-400 dark:text-white">90%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-rose-400 h-2.5 rounded-full" style="width: 90%"></div>
            </div>
          </li>

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-green-400 dark:text-white">C & C++</span>
              <span class="text-sm font-medium text-green-400 dark:text-white">60%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-green-400 h-2.5 rounded-full" style="width: 80%"></div>
            </div>
          </li>

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-yellow-500 dark:text-white">Java</span>
              <span class="text-sm font-medium text-yellow-500 dark:text-white">80%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5">
              <div class="bg-yellow-500 h-2.5 rounded-full" style="width: 80%"></div>
            </div>
          </li>

        </ul>
      </div>
      <div class="mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 text-gray-800 p-10" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">Frameworks</h2>

        <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg">
          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-green-400 dark:text-white">Spring Boot</span>
              <span class="text-sm font-medium text-green-400 dark:text-white">70%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-green-400 h-2.5 rounded-full" style="width: 70%"></div>
            </div>
          </li>

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-rose-400 dark:text-white">Laravel</span>
              <span class="text-sm font-medium text-rose-400 dark:text-white">90%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-rose-400 h-2.5 rounded-full" style="width: 90%"></div>
            </div>
          </li>

          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-yellow-500 dark:text-white">Angular</span>
              <span class="text-sm font-medium text-yellow-500 dark:text-white">90%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5">
              <div class="bg-yellow-500 h-2.5 rounded-full" style="width: 90%"></div>
            </div>
          </li>

        </ul>
      </div>
      <div class="mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 text-gray-800 p-10" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800  mb-5">Data Science & IA</h2>

        <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg">
          <li class="py-3">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-yellow-500 dark:text-white">R</span>
              <span class="text-sm font-medium text-yellow-500 dark:text-white">60%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5">
              <div class="bg-yellow-500 h-2.5 rounded-full" style="width: 60%"></div>
            </div>
          </li>

          <li class="py-3">
            <span class="font-light text-gray-500 lg:mb-16 sm:text-lg">Currently doing Google Course Data Analysis</span>
          </li>

        </ul>
      </div>

    </div>


  </div>
</section>
