<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Certifications</h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
      </div>
      <p class="font-light text-gray-500 lg:mb-16 sm:text-lg ">Learning new things is a passion to me. Here you can check all my official Certifications.</p>
    </div>


    <div class="mx-auto grid gap-5 grid-cols-1 md:grid-cols-3 py-5 w-full">
      <div class="w-3/4 mx-auto rounded-xl bg-white shadow-lg px-10 pt-10 text-gray-800" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">Extraordinary End of Studies Award</h2>
        <span class="text-center text-gray-500 py-5 block">Best academic transcript of my graduating class</span>
      </div>

      <div class="w-3/4 mx-auto rounded-xl bg-white shadow-lg px-10 pt-10 text-gray-800" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">Honors Degree Final Project</h2>
        <span class="text-center text-gray-500 py-5 block">One of the 5 best final projects of my grduating class</span>
      </div>

      <div class="w-3/4 mx-auto rounded-xl bg-white shadow-lg px-10 pt-10 text-gray-800" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">Google Data Analysis Certification</h2>
        <a class="primary__color font-bold text-center py-5 block"
          href="https://www.credly.com/badges/36757551-1f5f-4a13-8f35-aec59d8f940a/linked_in_profile">See certification
        </a>
      </div>


      <div class="w-3/4 mx-auto rounded-xl bg-white shadow-lg px-10 pt-10 text-gray-800" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">HackerRank Java Basics</h2>
        <a class="primary__color font-bold text-center py-5 block"
           href="https://www.hackerrank.com/certificates/236910f3aa18">See certification
        </a>
      </div>

      <div class="w-3/4 mx-auto rounded-xl bg-white shadow-lg px-10 pt-10 text-gray-800" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">B2 English Certification</h2>

      </div>

      <div class="w-3/4 mx-auto rounded-xl bg-white shadow-lg px-10 pt-10 text-gray-800" style="max-width: 500px">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-5">A1 French Certification</h2>

      </div>
    </div>

  </div>
</section>

